<div class="body grid1-container__item4">
    <h1>No autorizado</h1>
</div>
<div class='displayBlock width50 p-5 text-center'>
    <span>Verifique que se encuentre logueado, si aun asi no logra acceder, se trata de una vista exclusiva para el administrador</span>
</div>